@import "src/utils/reset";
@import "src/utils/mixins";

.mainLayout {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: auto;

  &_content {
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
  }
}