@import "src/utils/reset";
@import "src/utils/mixins";

.operationalInfoPage {
  padding: 20px;
  display: flex;
  gap: 20px;

  &_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_row {
    display: flex;
    flex: 1;
    gap: 20px;

    &_item {
      width: 50%;
    }
  }
}