@import "src/utils/reset";
@import "src/utils/mixins";

.analysisOfSocialNetworks {
  min-width: 500px;
  @include container;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &_titleContainer {
    @include title_container;

    & > h3 {
      @include main_title;
    }

    & > button {
      @include button_more;
    }
  }
}