@import "src/utils/reset";
@import "src/utils/mixins";

.additionalData {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &_titleContainer {
    @include title_container;

    & > h3 {
      @include main_title;
    }

    .more {
      @include button_more;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .label {
      @include label;

      &.fixedWidth {
        min-width: 350px;
      }

      @include adaptive_width {
        &.fixedWidth {
          width: 100%;
        }
      }
    }

    .input {
      @include input;
    }

    &_container {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 10px;

      @include adaptive_width {
        flex-direction: column;
      }
    }

    &_statistics {
      color: #7A869A;
      font-size: 16px;
      line-height: 26px; /* 162.5% */
      letter-spacing: 0.44px;
    }
  }
}