@import "src/utils/reset";
@import "src/utils/mixins";

.analysisOfPassenger {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &_titleContainer {
    @include title_container;

    & > h3 {
      @include main_title;
    }

    .more {
      @include button_more;
    }
  }

  &_map {
    & > img {
      width: 100%;
    }
  }
}