@import "src/utils/reset";
@import "src/utils/mixins";

.markingChart {
  display: flex;
  gap: 6px;
  align-items: center;

  &_circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }

  &_name {
    color: #000;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}