@import "src/utils/reset";
@import "src/utils/mixins";

.passportData {
  width: 100%;
  @include container;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &_titleContainer {
    @include title_container;

    & > h3 {
      @include main_title;
    }

    &_buttons {
      display: flex;
      align-items: center;
      gap: 4px;

      .clear {
        @include button_clear;
      }

      .more {
        @include button_more;
      }
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    //@include adaptive_width {
    //  width: 42%;
    //}

    .inputContainer {
      width: 300px;
      position: relative;
      @include label;

      .input {
        padding-right: 30px;
      }

      & > img {
        position: absolute;
        right: 5px;
        top: 25px;
      }
    }

    .label {
      @include label;

      &.fixedWidth {
        width: 300px;
      }
    }

    .input {
      @include input;
    }

    &_top {
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: flex-start;

      @include adaptive_width {
        width: 300px;
        flex-direction: column;

        .input {
          width: 300px;
        }
      }

      &_leftSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include adaptive_width {
          width: auto;
        }
      }

      &_rightSide {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &_container_fullWidth {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      @include adaptive_width {
        width: 300px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }
  }
}