@import "src/utils/reset";
@import "src/utils/mixins";

.passengerTraffic {
  //@include container;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &_titleContainer {
    @include title_container;

    & > h3 {
      @include main_title;
    }

    .more {
      @include button_more;
    }
  }

  &_chart {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include adaptive_width {
      min-width: 0;
    }

    &_marking {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &_filled {
      padding: 30px;
      background: var(--white);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;

      &_content {
        width: 100%;
        display: flex;
        align-items: center;
        //justify-content: space-between;
        gap: 20px;

        @include adaptive_width {
          //flex-direction: column;
          gap: 10px;
        }
      }

      & > p {
        color: rgba(0, 0, 0, 0.2);
        font-size: 14px;
        line-height: 20px; /* 142.857% */
      }
    }
  }
}